<div class ="content">
    
        <img style="height: 200px; width: 200px;border-radius: 50% " src="../../../assets/images/my.jpg" alt="my pic">
        <h1 style="font-size: 30px"> Jampala Chandana</h1>
        <h3 style="font-size: 25px">Associate Engineer</h3> 
        <p style="font-size: 20px">  
             
             
                Front End Engineer at Virtusa.<br>
                Love to code.<br>
                Like challenges.<br>
                Hobbies are drawing and crafting.<br>
                Has dream to explore different places and cultures.<br>
                
              
            
        </p>
    
    </div>
