<footer class="footer">
  <div class="container">
      
         <div id ="b"><a href="https://facebook.com/jampala.chandana"><i class="fa fa-facebook-square" style="font-size:36px" ></i></a></div>
        <div id="b"> <a href="https://github.com/chandanajampala"><i class="fa fa-github" style="font-size:36px"></i></a></div>
         <div id = "b"><a href="https://plus.google.com/u/0/107399785853487318322"><i class="fa fa-google-plus-square" style="font-size:36px"></i></a></div>
         <div id="b"><a href="https://www.linkedin.com/uas/login?fromSignIn=true&trk=uno-reg-join-sign-in"><i class="fa fa-linkedin-square" style="font-size:36px" ></i></a></div>
         <div id ="b"><a href="https://fee-bootcamp-may-2018.slack.com/account/profile"><i class="fa fa-slack" style="font-size:36px" ></i></a></div>
      
  </div> 

</footer>
