
          <div class="content" > 
        
                <div> <p style="font-size:30px">Languages known : c,c++,java,python</p><div>
                   <div> <p style="font-size:30px">App Done : <a href="https://itunes.apple.com/in/app/basicmorse/id1273090403?mt=8" style="text-decoration: underline; color: darkgray">Basic Morse Code</a> </p><div>
                       <div> <p style="font-size:30px">Projects Done : Advanced hangman in C++,Implementation of homomorphic encryption using HElib</p><div>
             
     <div class="grid-container">
           <div class="grid-item"><a href="https://www.sololearn.com/Certificate/1014-7958379/pdf/"><img  src="../../../assets/images/html.jpg" alt="html certificate"></a></div>
           <div class="grid-item"><a href="https://www.sololearn.com/Certificate/1023-7958379/pdf/"><img src="../../../assets/images/css.jpg" alt="css certificate"></a></div>
           <div class="grid-item"><a href="https://www.sololearn.com/Certificate/1024-7958379/pdf/"><img src="../../../assets/images/js.jpg" alt="javascript certificate"></a></div>  
          <!-- <div class="grid-item">4</div>
           <div class="grid-item">5</div> -->
         </div>
         <br>
         <p>(click image to view original)</p>
    
     </div>    
