body {
    background-image: url("../../../assets/images/background.jpg");
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray

}

.content a{
    margin-right: 10px;
    padding-right: 10px;
    
}
.content i{
        margin-right: 10px;
        padding-right: 10px;
}